input,
textarea,
select {
  display: block;
  width: 100%;
  min-height: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

input[type=search] {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: var(--ff-text-light);
}

::-moz-placeholder {
  color: var(--ff-text-light);
}

:-ms-input-placeholder {
  color: var(--ff-text-light);
}

:-moz-placeholder {
  color: var(--ff-text-light);
}