*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  color: var(--ff-text-dark);
  background-color: var(--ff-background);
  font-family: var(--ff-font-family);
  font-size: var(--ff-font-size-m);
  font-weight: var(--ff-font-weight-regular);
  line-height: var(--ff-line-height);
  letter-spacing: var(--ff-letter-spacing);
  text-decoration-skip: ink;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: var(--ff-font-weight-semibold);
}

em {
  font-style: italic;
}
