:root {
  /* Typography */

  --ff-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;

  --ff-font-weight-regular: 400;
  --ff-font-weight-medium: 500;
  --ff-font-weight-semibold: 600;

  --ff-font-size-m: 1.6rem;

  --ff-line-height: 1.4;

  --ff-letter-spacing: 0.01rem;

  /* Colors */

  --ff-primary: #0083FF;
  --ff-text-dark: #333;
  --ff-text-light: #fff;

  --ff-background: #f1f1f1;

  /* Spacing */

  --ff-bleed-x: 16px;
  --ff-bleed-x-large: 32px;

  --ff-spacing-s: 4px;
  --ff-spacing-m: 8px;
  --ff-spacing-l: 16px;
  --ff-spacing-xl: 20px;

  /* Borders */

  --ff-small-border-radius: 4px;

  /* Durations */

  --ff-duration-short: 0.2s;
  --ff-duration-medium: 0.4s;

  /* Misc */

  --ff-easing-swift: cubic-bezier(0.55, 0, 0.1, 1);

  --ff-drop-shadow: 0 2px 6px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.12);
}