.action-bar {
  display: flex;
  width: 100%;
  justify-content: center;
}

.action-bar__item {
  margin-right: var(--ff-spacing-l);
  flex-basis: auto;

  &:last-child {
    margin-right: 0;
  }
}

.action-bar__button {
  display: block;
  width: 100%;
  padding: var(--ff-spacing-m) var(--ff-spacing-l);
  border-radius: var(--ff-small-border-radius);
  color: var(--ff-text-light);
  background-color: var(--ff-primary);
  font-family: var(--ff-font-family);
  font-size: var(--ff-font-size-m);
  font-weight: var(--ff-font-weight-regular);
  line-height: 1.3;
  letter-spacing: var(--ff-letter-spacing);
  cursor: pointer;
  box-shadow: var(--ff-drop-shadow);
  text-decoration-skip: ink;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.action-bar__input {
  display: block;
  padding: var(--ff-spacing-m) var(--ff-spacing-l);
  border: none;
  border-radius: var(--ff-small-border-radius);
  color: var(--ff-text-light);
  background-color: var(--ff-primary);
  font-family: var(--ff-font-family);
  font-size: var(--ff-font-size-m);
  font-weight: var(--ff-font-weight-regular);
  line-height: 1.3;
  letter-spacing: var(--ff-letter-spacing);
  box-shadow: var(--ff-drop-shadow);
  text-decoration-skip: ink;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
