.message-panel {
  display: flex;
  max-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-direction: column;
}

.message-panel__avatar {
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;

  & > img {
    width: 100%;
  }
}

.message-panel__messages {
  overflow-y: auto;
  margin-bottom: 40px;
  flex-grow: 1;

  & .message {
    margin-bottom: var(--ff-spacing-l);
  }
}

.message-panel__action-bar {

}